
/*
Telegram colors:

Blue:
 - Hex: #0088CC
Light-blue:
 - Hex: #179CDE
Light-gray:
 - Hex: #8C8C8C
Gray:
 - Hex: #333333
Light:
 - Hex: #FFFFFF
*/

@blue: #0088CC;
@light-blue: #179CDE;
@light-gray: #8C8C8C;
@gray: #333333;
@light: #FFFFFF;
@light-outline: #E8E8E8;
@middle-gray: #4D4D4D;


body {
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
  color: @gray;
}
html.native_fonts body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  color: @light-blue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::selection {
  background: @light-blue;
  color: @light;
  text-shadow: none;
}

::-moz-selection {
  background: @light-blue;
  color: #EEE;
  text-shadow: none;
}

.header {
  &-row {
    background-color: @light;
    //padding-top: 16px;
    border-bottom: 1px solid @light-outline;
    color: @light-blue;
    font-size: 15px;
    height: 50px;
  }
  &-name {
    border: none;
    display: inline-block;
    padding: 19px 2rem 11px 0rem;
    height: 100%;
    text-align: center;
    display: inline-block;
    max-width: 100%;
    position: relative;
    &:hover {
      text-decoration: none;
      &::after {
        opacity: 1;
        transform: scaleX(1.0) scaleY(1.0) translateX(-1rem);

      }
    }
    &::after {
      display: block;
      height: 3px;
      background: #179cde;
      position: absolute;
      border-radius: 2px;
      content: "";
      left: 4px;
      right: 4px;
      opacity: 0;
      bottom: -1px;
      -webkit-transition: opacity .2s ease-in-out, transform .2s ease-in-out;
      -moz-transition: opacity .2s ease-in-out, transform .2s ease-in-out;
      -ms-transition: opacity .2s ease-in-out, transform .2s ease-in-out;
      transform-origin: bottom;
      transform: scaleX(0.3) scaleY(0);
    }
  }
  &-text {
    font-weight: 900;
    margin-top: 4px;
    font-size: 36px;
    color: @middle-gray;
  }
}

.h(@fz) {
  color: @light-gray;
  font-size: @fz;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Light", Helvetica, Arial , Verdana, sans-serif;
  font-weight: 300;
}

h2 {
  .h(24px);
}

h3 {
  .h(20px);
}

/*
.tab-content {
  display: inline-block;
}
*/

.img {
  &-logo {
    max-height: 160px;
    text-align: center;
  }
}

.block {
  &-first {
    margin-top: 24px;
  }
  &-new-bin {
    margin-top: 52px;
    text-align: center;
  }
}

.wrap {
  display: table;
  width: 100%;
  height: /* Your height */;
  &-block {
    display: table-cell;
    vertical-align: middle;
 }
}

.new-bin {
  &-element {
    .not-selectable;
    display: inline-block;
    margin-top: 8px;
    margin-left: 14px;
    &-br {
      display: block;
    }
  }
}

.counter {
  position: absolute;
  bottom: -24px;
  right: 5px;
}

.counter-container {
  position: relative;
  width: 100%;
}

.text-inputs {
  text-align: center;
}

.text-field {
  text-align: center;
  max-width: 33.3%;
  min-width: 250px;
}

.btn-style {
  background-color: @light-blue;
  color: @light;
  width: 100%;
  &:hover {
    background-color: @gray;
    color: @light;
  }
}




.fill-btn {
  display: inline-block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: @gray;
  border-bottom: 2px solid @gray;
  // border: none;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  margin-top: 28px;

  span {
    position: relative;
    z-index: 2;
  }

  &:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: @blue;
    transition: all .35s;

  }

  &:hover {
    color: @light;
    text-decoration: none;
  }

  &:hover::after {
    border: 2px solid @gray;
    border-bottom: none;
    width: 100%;
    transition: border .1s;
    transition: width .35s;
  }
}

#new-bin-pill {
  color: @light;
}
#new-bin-pill:hover {
  color: @blue;
}

.outline-pill(@bgc) {
  content: '';
  width: 4rem;
  z-index: 0;
  transform: translate(-0.4rem, 0.7rem);
  height: 2rem;
  width: 4.5rem;
  position: absolute;
  background-color: @bgc;
  border-radius: 2px;
  transition: all .3s;
}

.highlighted-code {
  margin-top: 100px;
}

.outline-pill::before {
  .outline-pill(@blue);
}

.outline-pill:hover::before {
  .outline-pill(@light);
}

.text-to-show {
  font-size: 16px;
  margin-top: 16px;
}

.account {
  &-header {
    font-size: 36px;
    text-align: center;
    margin-top: 24px;
    &-connected {
      color: @blue;
    }
    &-notconnected {
      color: @light-gray;
    }
  }
  &-link {
    display: block;
    text-align: center;
    &-gray {
      color: @light-gray;
    }
  }
}
