/*
Telegram colors:

Blue:
 - Hex: #0088CC
Light-blue:
 - Hex: #179CDE
Light-gray:
 - Hex: #8C8C8C
Gray:
 - Hex: #333333
Light:
 - Hex: #FFFFFF
*/
body {
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
  color: #333333;
}
html.native_fonts body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
a {
  color: #179cde;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.header-row {
  background-color: #ffffff;
  border-bottom: 1px solid #e8e8e8;
  color: #179cde;
  font-size: 15px;
  height: 50px;
}
.header-name {
  border: none;
  padding: 19px 2rem 11px 0rem;
  height: 100%;
  text-align: center;
  display: inline-block;
  max-width: 100%;
  position: relative;
}
.header-name:hover {
  text-decoration: none;
}
.header-name:hover::after {
  opacity: 1;
  -webkit-transform: scaleX(1) scaleY(1) translateX(-1rem);
          transform: scaleX(1) scaleY(1) translateX(-1rem);
}
.header-name::after {
  display: block;
  height: 3px;
  background: #179cde;
  position: absolute;
  border-radius: 2px;
  content: "";
  left: 4px;
  right: 4px;
  opacity: 0;
  bottom: -1px;
  -webkit-transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: scaleX(0.3) scaleY(0);
          transform: scaleX(0.3) scaleY(0);
}
.header-text {
  font-weight: 900;
  margin-top: 4px;
  font-size: 36px;
  color: #4d4d4d;
}
h2 {
  color: #8c8c8c;
  font-size: 24px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Light", Helvetica, Arial, Verdana, sans-serif;
  font-weight: 300;
}
h3 {
  color: #8c8c8c;
  font-size: 20px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Light", Helvetica, Arial, Verdana, sans-serif;
  font-weight: 300;
}
/*
.tab-content {
  display: inline-block;
}
*/
.img-logo {
  max-height: 160px;
  text-align: center;
}
.block-first {
  margin-top: 24px;
}
.block-new-bin {
  margin-top: 52px;
  text-align: center;
}
.wrap {
  display: table;
  width: 100%;
  height: ;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
}
.new-bin-element {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  margin-top: 8px;
  margin-left: 14px;
}
.new-bin-element-br {
  display: block;
}
.counter {
  position: absolute;
  bottom: -24px;
  right: 5px;
}
.counter-container {
  position: relative;
  width: 100%;
}
.text-inputs {
  text-align: center;
}
.text-field {
  text-align: center;
  max-width: 33.3%;
  min-width: 250px;
}
.btn-style {
  background-color: #179cde;
  color: #ffffff;
  width: 100%;
}
.btn-style:hover {
  background-color: #333333;
  color: #ffffff;
}
.fill-btn {
  display: inline-block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333333;
  border-bottom: 2px solid #333333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  -webkit-transition: all .35s;
  transition: all .35s;
  margin-top: 28px;
}
.fill-btn span {
  position: relative;
  z-index: 2;
}
.fill-btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #0088cc;
  -webkit-transition: all .35s;
  transition: all .35s;
}
.fill-btn:hover {
  color: #ffffff;
  text-decoration: none;
}
.fill-btn:hover::after {
  border: 2px solid #333333;
  border-bottom: none;
  width: 100%;
  -webkit-transition: border .1s;
  transition: border .1s;
  -webkit-transition: width .35s;
  transition: width .35s;
}
#new-bin-pill {
  color: #ffffff;
}
#new-bin-pill:hover {
  color: #0088cc;
}
.outline-pill::before {
  content: '';
  width: 4rem;
  z-index: 0;
  -webkit-transform: translate(-0.4rem, 0.7rem);
          transform: translate(-0.4rem, 0.7rem);
  height: 2rem;
  width: 4.5rem;
  position: absolute;
  background-color: #0088cc;
  border-radius: 2px;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.outline-pill:hover::before {
  content: '';
  width: 4rem;
  z-index: 0;
  -webkit-transform: translate(-0.4rem, 0.7rem);
          transform: translate(-0.4rem, 0.7rem);
  height: 2rem;
  width: 4.5rem;
  position: absolute;
  background-color: #ffffff;
  border-radius: 2px;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.text-to-show {
  font-size: 16px;
  margin-top: 16px;
}
